
.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    position: absolute;
    right: 0;
    overflow: hidden;

}
.WorkExperience{
  left: 4%;
  padding: 10px;
  position: relative;
  width: 90%;
  top: 210%;
  text-align: center;

    .text-animate{
        font-size: 42px;
        font-style: "Roboto";
    }
    .text-animate-hover{
        font-size: 42px;
        font-style: "Roboto";
        color: #ffd700;
    }

    .experience-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
      }

      .experience-item {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
      }

      .experience-item img {
        max-width: 100%;
        height: auto;
      }

}
@media (max-width: 480px) { /* Adjust for very small screens */
    .Timeline {
        .vertical-timeline-element-content.bounce-in{
            width: 200% !important;
        }
        h2{
            margin-top: 80%;
            position: relative;
            right: 70%;
            width: 180%;
        }
        .start{
            position: relative;
            right: 120px;
        }

        p {
            width: 130%;
        }
        h3{
            font-size: 20px !important;
            width: 120% !important;
        }
     width: 65%;
    }
}


.Timeline{
    left: 25%;
    margin-left: 3%;
    padding: 10px;
    position: absolute;
    top: 550px;
    text-align: center;

    .text-animate{
        font-size: 42px;
        font-style: "Roboto";
    }
    .text-animate-hover{
        font-size: 42px;
        font-style: "Roboto";
    }

    .vertical-timeline-element--work {
        // color: #fff;
        padding: 80px; /* Example padding */
        // border-radius: 8px; /* Rounded corners */
        // margin-left: 30px


    }
    .vertical-timeline-element-content.bounce-in{
        background-color: transparent;
        border-color: transparent;
        width: 90%;
        // font-size: 22px;

        p{
            font-size: 15px;
            }

        // padding-left: 10;



    }
    .vertical-timeline-element-content.bounce-in:first-of-type {
        margin-right: -45%; /* Adjust this value to move the first element to the left */
    }

    .vertical-timeline-element-content.bounce-in:last-of-type {
        margin-left: -50%; /* Adjust this value to move the second element to the right */
    }


    .vertical-timeline-element-title{
        color: #ffd700;
        font-size: 36px;
    }
    .vertical-timeline-element-subtitle{
        margin-top: 10px;
        font-size: 20px;
        color: white;
    }

}

.cubespinner{
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        text-align: center;
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
    }

        .face1 {
            transform: translateZ(100px);
        }
        .face2 {
            transform: rotateY(90deg) translateZ(100px);
        }
        .face3 {
            transform: rotateY(90deg) rotateX(90deg) translateZ(100px);;
        }
        .face4 {
            transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
        }
        .face5 {
            transform: rotateY(-90deg)  rotateZ(90deg) translateZ(100px);
        }
        .face6 {
            transform: rotateX(-90deg) translateZ(100px);
        }
}

@keyframes spincube {
    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateZ(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }

}