.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transition: translateY(-50%);
        width: 40%;

    }
    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        // &::before{
        //     content: '<h1>';
        //     font-family: 'La Belle Aurore';
        //     color: #ffd700;
        //     font-size: 18px;
        //     position: absolute;
        //     margin-top: -40px;
        //     left: 15px;
        //     opacity: 0.6;

        // }
        // &::after{
        //     content: '<h1/>';
        //     font-family: 'La Belle Aurore';
        //     color: #ffd700;
        //     font-size: 18px;
        //     position: absolute;
        //     margin-top: 18px;
        //     margin-left: 20px;
        //     animation: fadeIn 1s 1.7s backwards;
        //     opacity: 0.6s;

        // }
        img {
            width: 32px;
            height: auto;
            margin-left: 20px;
            margin-right: 2px;
            opacity: 0;
            transform: rotate(90deg); /* Start from 0 degrees */
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
            transform-origin: center; /* Specify the transform origin */
        }
    }
    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }
    .buttons {

        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        justify-content: center;
        font-size: 25px;
        text-align: center;
        padding: 10px 18px;
        // border: 1px solid #ffd700;
        margin-top: 18px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        display: flex; /* Use flexbox for layout */
        gap: 15px; /* Adjust spacing as needed */


    }

    .flat-button {
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: #ffd700;
            color: #333;
        }
    }

    .profile-section img {
        width: 400px; /* Adjust the size as needed */
        height: 400px; /* Adjust the size as needed */
        border-radius: 50%;
        object-fit: cover;
        margin-left: 60%;
        margin-top: 150px;
        border: 2px solid #000; /* Optional: add a border */
        display: block; /* Ensure it behaves as a block element */
        transition: transform 0.5s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a drop shadow */
        animation: float 6s ease-in-out infinite; /* Add a subtle pulse animation */
        background: linear-gradient(90deg,#eedb7f,  #ffd700); /* Add a gradient border */
        padding: 5px; /* Add padding to show the gradient border */
        background-clip: padding-box;

      }

      @keyframes float {
        0% {
            transform: translateY(0) /* Include rotation in the float animation */
        }
        50% {
            transform: translateY(-20px) /* Float up */
        }
        100% {
            transform: translateY(0) /* Float back to original position */
        }
    }
    @keyframes rotateIn {
        0% {
            opacity: 0; /* Ensure opacity starts at 0 if intended */
            transform: rotate(0deg); /* Start from 0 degrees */
        }
        100% {
            opacity: 1; /* Fade in while rotating */
            transform: rotate(0deg); /* Rotate to 90 degrees */
        }

    }


}